.total {
    flex:2;
    margin-top: 15px;
    .totalGroup {
        display: flex;
        width:99%; 
        justify-content: space-between; /* Aliniere între elementele grupului */
        margin-bottom: 10px; /* Spațiere între grupuri */

    .income{
        display: flex;
        margin: 0px 7px;
        flex-direction: column;
        padding: 5px;
        border:2px solid rgb(126, 120, 120);
        border-radius:5px ;
        width: 50%;
    
    span:nth-child(1){
        font-size: 20px;
        color: rgb(176, 170, 170);
        font: bold;
        margin-bottom: 5px;
    }
    
    span:nth-child(2){
        font-size: 30px;
        color: rgb(12, 147, 17);
        font: bold;
        }
    
    }

    .expense{
        display: flex;
        flex-direction: column;
        padding: 5px;
        border:2px solid rgb(111, 107, 107);
        border-radius:5px ;
        width: 50%;

        span:nth-child(1){
            font-size: 20px;
            color: rgb(176, 170, 170);
            font: bold;
            margin-bottom: 5px;
        }
        
        span:nth-child(2){
            font-size: 30px;
            color: red;
            font: bold;
            }
    }




    
}


    .balance{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border:1px solid rgb(111, 107, 107);
        border-radius:5px ;
        align-items: center;
        padding: 4px;
        margin: 35px 7px;

    
        span:nth-child(1){
            font-size: 25px;
            color: rgb(127, 121, 121);
            font: bold;
            margin-bottom: 5px;
        }
        
        span:nth-child(2){
            font-size: 30px;
            color: rgb(42, 158, 0);
            font: bold;
            }
    }

   

}
